article.mcgenre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    align-items: center;

    a {
        padding: 0;
    }
}

/*Pc og tablet specific css*/
@media only screen and (min-width: 800px) {

    body #root main section #movieingenreList {
        max-width: 1200px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}